.caption{
    font-size:46px;
    width: 50%;
    color: brown;
    background-color:rgba(rgb(228, 16, 16), rgb(32,rgb(25, 25, 68) 32), blue, 0.7);
}
.first,.last,.a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 34px;
}
.relay{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;

}
.email,.password,.age{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 29px;
}
.submit{
    font-size: 20px;
    font-weight: 700;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: cadetblue;
}
.submit:hover{
    background-color:burlywood;
}
.qwerty,.qwerty1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;


}
.select,.you{
    font-size: medium;
}